In [182]:
import pandas as pd 
import re 
import requests
from bs4 import BeautifulSoup
NAME = []
AGE = []
OVA = []
POT = []
TEAM_NAME = []
CONTRACT = []
VALUE = []
WAGE = []
TOTAL_STATS = []
for i in range(0,541,60):
    url = f'https://sofifa.com/players?offset={i}'
    resp = requests.get(url)
    soup = BeautifulSoup(resp.content,"html")
    tab_body = soup.find("tbody","list")
    for i in tab_body.find_all("tr"):
        name = i.find("a","tooltip")
        age = i.find("td","col col-ae")
        ova = i.find("td","col col-oa")
        pot = i.find("td","col col-pt")
        contract = i.find("div","sub")
        team_name = contract.find_previous_sibling("a")
        value = i.find("td","col col-vl")
        wage = i.find("td","col col-wg")
        total_stats = i.find("td","col col-tt")
        if name:
            NAME.append(name.text)
        if age:
            AGE.append(age.text)
        if ova:
            OVA.append(ova.text)
        if pot:
            POT.append(pot.text)    
        if contract:
            CONTRACT.append(re.sub("(?m)^[ \t]*$\n?|On Loan","",contract.text))
        if team_name: 
            if team_name.string != None:
                TEAM_NAME.append(team_name.text)
            else:
                TEAM_NAME.append(re.sub("(?m)^[ \t]*$\n?|\nFree\n","",contract.find_parent().text))
        if value:
            VALUE.append(re.sub("€|K|M","",value.text))
        if wage:
            WAGE.append(re.sub("€|K","",wage.text))
        if total_stats:
            TOTAL_STATS.append(total_stats.text)

In [183]:
df = pd.DataFrame({"Name": NAME,
                   "Age": AGE,
                   "Overall_Rating": OVA,
                   "Potential": POT,
                   "Team_Name": TEAM_NAME,
                   "Contract_Year": CONTRACT,
                   "Value(M)": VALUE,
                   "Wage(K)": WAGE,
                   "Total_Stats": TOTAL_STATS})

df.head() # Check
df.to_csv('fifa.csv') # Export the data

In [184]:
df.head()

,Name,Age,Overall_Rating,Potential,Team_Name,Contract_Year,Value(M),Wage(K),Total_Stats
0,Pedro Benito,21,60,69,Cádiz CF,2021 ~ 2023,550,4,1480
1,Alexandre Pato,31,73,73,Orlando City Soccer Club,2021 ~ 2021,2.6,8,1867
2,J. Timber,20,77,87,Ajax,2019 ~ 2024,21.5,11,1912
3,J. Lindstrøm,21,71,84,Eintracht Frankfurt,2021 ~ 2026,4.6,13,1798
4,D. Sturridge,31,76,76,Perth Glory,2021 ~ 2022,6.5,8,1799

In [185]:
df.to_csv('fifa.csv')